.bl-bg, .bl-bg-grid{
    width:100vw; 
    height:100vh; 
    position:fixed; 
    top:0; 
    left:0;
}
.bl-bg{
    z-index: -2;
}
.bl-bg-grid{   
    z-index: -1; 
    display:grid;
}

.bl-bg-grid > div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bl-bg-grid > div > div{
    color:white;
}